.icon{
    display: flex !important;
    gap: 30px;
    align-items: center;
   
}
.iconImage {
    height: 25px;
    transition: transform 0.3s;
}
.home{
    padding: 0px 10px;
    font-size: 1.4rem !important;
   border-radius: 10px;
    
}
.home:hover ,.iconImage:hover{
    transform: scale(1.2);
}
.bg-body-tertiary{
    margin-bottom: 20px;
    padding: 30px 0px;

}
.navbar{
    background-color: #c9c9c9 !important; 
    padding: 20px 0px !important;
  
}
.links{
    color: black !important;
    font-size: 1.1rem !important;
}
.links:hover{
    text-decoration: underline;
}
@media(max-width:426px){
    .icon{  
        gap: 15px;
    }
    .iconImage {
        height: 20px;
    }
    .home{
        padding: 0px 1px;
        font-size: 1.2rem !important;
       border-radius: 10px;
    }
}